
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');

.App {
  text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */



.nav-container {
	width: 100%;
	min-height: 120px;
	display: flex;
	border-bottom: 2px solid #01075a;
	justify-content: space-between;
	align-items: center;
	background-color: #abe9f098;
	letter-spacing: 1px;
}

.nav-title {
	margin-left: 5%;
	font-size: 74px;
	color: #3e7425;
  	font-family: 'Fleur De Leah', cursive;
  	text-decoration: none;
  /* text-shadow: -3px 1px 0 #8C3503,
				  1px 1px 0 #8C3503,
				 /* 1px -1px 0 #8C3503;
				-3px -1px 0 #8C3503; */
}

.nav-title:hover {
  	cursor: pointer;
	color: #1b4200d0;
}

.navbar-links {
  	margin-right: 5%;
  	font-family: 'Fleur De Leah', cursive;
  	font-size: 42px;
}


.navbar-links {
	display: flex;
	justify-content: space-evenly;
}

.nav-link {
	width: 120px;
	text-decoration: none;
	color: #3e7425;
}

.nav-link:hover {
	cursor: pointer;
	color: #1b4200d0;
}

h1 {
	font-size: 36px;
  	font-family: 'Fleur De Leah', cursive;
	color: #1b4200d0;
}

span {
	font-size: 48px;
}